@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("normalize.css");
@import url("settings.css");

* {
	outline: 0;
	font-family: var(--main-font-family);
}

body {
	background-color: var(--light-gray);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.date-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.day-input,
.month-input,
.year-input {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.calendar {
	width: 50vw;
	height: 70vh;
	background-color: var(--white);
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: var(--shadow);
	display: grid;
	grid-template-rows: 1fr 5fr;
}

.title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.title p {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--black);
}

.title button {
	background-color: transparent;
	border: none;
	height: 100%;
	width: 10%;
	color: var(--purple-3);
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}

.title button:hover {
	background-color: var(--purple-5);
	color: var(--purple-1);
}

.month {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.month > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.week-day {
	color: #aaa;
}

.month-day {
	color: var(--gray);
	cursor: pointer;
	border-radius: 0.3em;
	font-size: 1.1em;
}

.month-day:hover {
	background-color: var(--purple-2);
	color: var(--white);
	font-weight: bold;
}

.text-input,
.select-input {
	background-color: var(--white);
	border: none;
	padding: 1em;
	border-radius: 0.3em;
	width: 100%;
}
